<?xml version="1.0"?>
<!DOCTYPE PLAY SYSTEM "play.dtd">

<GAME>
	<LEVEL>
		<LEVEL_NUMBER>1</LEVEL_NUMBER>
		<MISSILE_SPEED>25</MISSILE_SPEED>
		<CANT_MISSILES>10</CANT_MISSILES>
		<CANT_SIMULTANEOUS_MISSILES>3</CANT_SIMULTANEOUS_MISSILES>
		<CANT_BUILDINGS>10</CANT_BUILDINGS>
		<CANT_BULLETS>30</CANT_BULLETS>
	</LEVEL>

	<LEVEL>
		<LEVEL_NUMBER>2</LEVEL_NUMBER>
		<MISSILE_SPEED>20</MISSILE_SPEED>
		<CANT_MISSILES>20</CANT_MISSILES>
		<CANT_SIMULTANEOUS_MISSILES>5</CANT_SIMULTANEOUS_MISSILES>
		<CANT_BUILDINGS>10</CANT_BUILDINGS>
		<CANT_BULLETS>60</CANT_BULLETS>
	</LEVEL>

	<LEVEL>
		<LEVEL_NUMBER>3</LEVEL_NUMBER>
		<MISSILE_SPEED>15</MISSILE_SPEED>
		<CANT_MISSILES>30</CANT_MISSILES>
		<CANT_SIMULTANEOUS_MISSILES>7</CANT_SIMULTANEOUS_MISSILES>
		<CANT_BUILDINGS>10</CANT_BUILDINGS>
		<CANT_BULLETS>100</CANT_BULLETS>
	</LEVEL>

	<LEVEL>
		<LEVEL_NUMBER>4</LEVEL_NUMBER>
		<MISSILE_SPEED>10</MISSILE_SPEED>
		<CANT_MISSILES>50</CANT_MISSILES>
		<CANT_SIMULTANEOUS_MISSILES>10</CANT_SIMULTANEOUS_MISSILES>
		<CANT_BUILDINGS>15</CANT_BUILDINGS>
		<CANT_BULLETS>200</CANT_BULLETS>
	</LEVEL>

	<LEVEL>
		<LEVEL_NUMBER>5</LEVEL_NUMBER>
		<MISSILE_SPEED>5</MISSILE_SPEED>
		<CANT_MISSILES>100</CANT_MISSILES>
		<CANT_SIMULTANEOUS_MISSILES>15</CANT_SIMULTANEOUS_MISSILES>
		<CANT_BUILDINGS>15</CANT_BUILDINGS>
		<CANT_BULLETS>500</CANT_BULLETS>
	</LEVEL>

</GAME>
